nav{

  background: #040D12;
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0;
}
label.logo{
  color: white;
  font-weight: 35px;
  line-height: 80px;
  padding: 0 70px;
  font-weight: bold;
  font-size: 25px;

}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 5px;
  text-transform: uppercase;

}

a.active,a:hover{
  background: #183D3D;
  transition: .5s;
  cursor: pointer;
}

#chack{
  display: none;

}

/* ---------------------------------nav css----------------------------------- */

#propic{
  margin: 5em;
  border-radius: 100%;
  float: left;
}
.bio{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  height: 400px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  margin-top: 50px;
}
bio,h1{
  font-size: xx-large;
  line-height: 2em;
}

.bio,p{
  line-height: 1.5em;
  font-size: large;
  text-align: justify;
  padding: 20px;
}

@media (max-width: 952px){
  label.logo{
    font-size: 20px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 10px;
  }
}
@media (max-width: 858px){
  .chackbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #040D12;
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a{
    font-size: 20px;
  }
  #chack:checked ~ ul{
    left: 0;
  }
}

.cardContainner{
  width: 100%;
  display: flex;
 
}
.card{
  background-color: #040D12;
  margin: 5%;
  color: white;
  text-align: center;
  border-radius: 20px;
  
}

.card img{
  padding: 10px;
}
#cardButton{
  background-color: white;
  color: black;
  padding: 10px 20px;
  margin:  20px 0;
  border-radius: 10px 0;
  font-weight: 900;
}

.container{
  width: 100%;
  position: fixed;
  z-index: -1;
  background-color: #183D3D;
  background-size: cover;
  height: 50%;
  display: flexbox;
}

.secondContainer{
  padding: 10%;
  display: flex;
  width: 100%;
  background-color: #183D3D;
  height: auto;
}

.secondCoDiv1,.secondCoDiv2{
  width: 50%;
}

#table {
  
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  background-color: #ddd;
  margin: 15%;
  
}

#table td, #table th {
  border: 2px solid #000000;
  padding: 8px;
}
#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
  font-weight: 1000;
}

.container3{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid green; 
}
.conDiv13 ,.conDiv23{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50;
  width: 50%;  
}

